extends ../../shared/layout
block content
  link(rel="stylesheet", href="/skin/promotion/20161216/css/pro-base.min.css")
  .pro-warp
    .bg.bg-1
      .w1100
        a.pro-btn(href="#",title="立即注册")
    .bg.bg-2
      .w1100
    .bg.bg-3
      .w1100
    .bg.bg-4
      .w1100
    .bg.bg-5
      .w1100
        a.pro-btn(href="http://www.zczj.com/news/2016-08-01/content_8088.html" target="_black",title="模版下载")
    .bg.bg-6
      .w1100
    .bg.bg-7
      .w1100
    .bg.bg-8
      .w1100
    .bg.bg-9
      .w1100
    .bg.bg-10
      .w1100
    .bg.bg-11
      .w1100
    .bg.bg-12
      .w1100
        a.pro-btn(href="#",title="立即注册")
