extends ../../shared/layout
block content
  // ==============================================================
  link(rel="stylesheet", href="/skin/promotion/20170116/css/pro-bass.min.css")

  .pro-warp
    .pro-banner
      img(src="/skin/promotion/20170116/img/m-banner.jpg")
    .pro-content
      .pro-box
        .pro-t 大股东平台春节放假公告
        .pro-con
          .pro-b 尊敬的大股东用户：
          p.
            您好！根据国家春节放假有关规定，结合大股东平台及第三方支付平台的实际情况，大股东平台春节假期工作安排如下：
          p.
            1、放假时间：2017年1月22日---2月2日，共计12天，2月3日（初七）正常上班。<br>
            2、放假期间，充值业务正常。大股东内推荐的投资项目正常运营，用户可以正常充值、投资。站岗宝及新手体验标—小股东将暂停发布。<br>
            3、根据第三方支付平台通知，在国家法定节假日2017年1月27日--2月2日期间的提现不予处理，顺延到节后工作日（2月3日）处理。<br>
            4. 放假期间，用户可在大股东官方投资交流群（QQ群306742456）留言，客服看到留言后会在第一时间进行解答。
          p.
            温馨提示：如在假期有任何疑问，请咨询客服！（微信号：zczjbb）
            我们将不断推出更多贴心的服务，感谢您对大股东的关注与支持！
          p.
            祝愿您2017新年新气象，快乐依然，幸福绵绵，平安一生，健康到永远！
          p
          p
          p.pro-name
            span.trim 大股东运营团队
            | <br>
            span.data 2017年1月17日

      //- .pro-box.top-line
      //-   .pro-t 春节项目推荐
      //-   .pro-con
      //-     dl
      //-       dt
      //-         span.img
      //-       dd
      //-         a(href='#') 国际顶尖投行 — 中X资本
      //-       dd.
      //-         强大的股东背景，卓越的投资团队，丰富的优质项目资源，出众的投资业绩
      //-     .pro-more
      //-       a.more(href="#") 更多项目
  


  // =============================================================