extends ../../shared/layout
block content
  // ==============================================================
  link(rel="stylesheet", href="/skin/promotion/sdg/css/pro-base.min.css")
  link(rel="stylesheet", href="/skin/plugs/dialog/css/dialog.css")
  .pro-banner
    .w1100
      a.sgd-buyNow(href="javascript:void(0);")
      img(src="/skin/promotion/sdg/img/m-banner.jpg", alt="")
  .pro-warper
    .w904
      .sgd-tips
        .sgd-title
          span 小股东亮点
        ul.sgd-tips-list
          li 投资门槛小：500起投，灵活方便，周期短。
          li 资金不站岗：起息日前，投资人享受年化8%的站岗利息。
          li 标的稳健型：持续分红的实体店铺项目保障。
          li 平台快速退出：满30天即可在大股东转让/退出。
      .sgd-info.mt20
        .sgd-title
          span 小股东简介
        .sgd-info-warp
          p.info-top 小股东--新手体验标，500元起投，每月分红，30天可退出，限时抢购 每人限购两份
          table.sgd-info-table
            thead
              tr
                th 起投金额（元）
                th 最高投资金额（元）
                th 锁定周期（天）
            tbody
              tr
                td 500
                td 1000
                td 30
          .sgd-info-list
            p
              span.sgd-info-list-t 投资标的：
              span 收益权众筹项目，已有持续分红的店铺老股权转让的项目，获取综合的收益。
            p
              span.sgd-info-list-t 项目成功：
              span 投资人完成协议签署。
            p
              span.sgd-info-list-t 项目保障：
              span 只保障本金安全，不保障收益，项目的收益是根据项目方每月的运营情况，进行收益分配
            p
              span.sgd-info-list-t 浮动收益：
              span 0 - 60%
            p
              span.sgd-info-list-t 收益公式：
              span.yellow 投资人每期的收益占比=投资额/每期募集的封账总额（以签署日定为期数）
            p
              span.sgd-info-list-t 分红时间说明：
              span 协议签署完成，次月的15号为收益分配日（节假日顺延），协议签署之前，投资人可以享受年化8%的站岗收益。（如：2016年11月4号投资，15号签署合同。2016年12月15日分红）
            p
              span.sgd-info-list-t 退出方式：
              span 投资满1个月投资人可在大股东平台转让，成功转让后不再享受项目分红
            p.pro-img
              img(src="/skin/promotion/sdg/img/p1.jpg", alt="")
      .sgd-step
        .sgd-title
          span 投资流程
        .sgd-step-warp.clearfix
          dl
            dt
            dd 线上认投
          dl
            dt
            dd 线上打款
          dl
            dt
            dd 签署合同
          dl
            dt
            dd 发放分红
          dl
            dt
            dd 项目退出
      .sgd-note.mt20
        .sgd-title
          span 购买须知
        ul.sgd-note-warp
          li 本产品为新用户（指未在大股东进行过项目投资的用户）专享，每位新用户限购1000元；
          li 协议签署：每个月15号跟30号为协议签署日（如果是节假日或者周末时间顺延）
      .sgd-buy
        a.sgd-buyNow(href="javascript:void(0);")



  script(src="/skin/plugs/dialog/js/dialog.js")
  script(src="/skin/promotion/sdg/js/sgd.min.js")
  script.
    $('.sgd-buyNow').click(function(){
      if(true){
        /**
         * type: 错误-> warning, 正确 -> ok,
         * msg: 提示内容
         * btnArrayObj: 按钮对象数组 -> callback(回调方法) 例如:
         *[{
            text: '登录',
            type: 'green',
            callback: function(){
              return false;
            }
          },{
            text: '取消',
            type: 'red'
          }]
         * layer(type,msg,btnArrayObj)
         */
        Sgd.layer('warning','请先登录',[{
          text: '登录',
          type: 'green',
          callback: function(){
            window.location.href="http://www.baidu.com";
          }
        },{
          text: '取消',
          type: 'red',
        }])

      }
    })


















  // =============================================================