extends ../../shared/layout
block content
  // ==============================================================
  link(rel="stylesheet", href="/skin/promotion/newYear/css/pro-base.min.css")
  .pro-warper
    .bg.bg-1
      img.pc(src="/skin/promotion/newYear/img/bg_01.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_01.jpg", alt="")
    .bg.bg-2
      img.pc(src="/skin/promotion/newYear/img/bg_02.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_02.jpg", alt="")
    .bg.bg-3
      img.pc(src="/skin/promotion/newYear/img/bg_03.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_03.jpg", alt="")
    .bg.bg-4
      img.pc(src="/skin/promotion/newYear/img/bg_04.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_04.jpg", alt="")
    .bg.bg-5
      img.pc(src="/skin/promotion/newYear/img/bg_05.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_05.jpg", alt="")
    .bg.bg-6
      img.pc(src="/skin/promotion/newYear/img/bg_06.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_06.jpg", alt="")
    .bg.bg-7
      img.pc(src="/skin/promotion/newYear/img/bg_07.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_07.jpg", alt="")
    .bg.bg-8
      img.pc(src="/skin/promotion/newYear/img/bg_08.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_08.jpg", alt="")
    .bg.bg-9
      img.pc(src="/skin/promotion/newYear/img/bg_09.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_09.jpg", alt="")
    .bg.bg-10
      img.pc(src="/skin/promotion/newYear/img/bg_10.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_10.jpg", alt="")
    .bg.bg-11
      img.pc(src="/skin/promotion/newYear/img/bg_11.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_11.jpg", alt="")
    .bg.bg-12
      img.pc(src="/skin/promotion/newYear/img/bg_12.jpg", alt="")
      img.mobile(src="/skin/promotion/newYear/img/m_bg_12.jpg", alt="")
  script(src="/skin/promotion/newYear/js/snow.min.js")
  script.
    createSnow('/skin/promotion/newYear/', 6);
  // ==============================================================
















  // =============================================================