.g-dialog-contianer { font-size: 1.4rem; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; z-index: 10000; }

.g-dialog-contianer .dialog-window { padding: 1em; border-radius: 10px; background-color: rgba(0, 0, 0, 0.8); -webkit-transition: all 0.3s cubic-bezier(0.43, 0.14, 0.34, 1.6); transition: all 0.3s cubic-bezier(0.43, 0.14, 0.34, 1.6); }

.g-dialog-contianer .dialog-window .dialog-header { width: 5.0rem; height: 5.0rem; margin: 0 auto; border: 2px solid #fff; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.g-dialog-contianer .dialog-window .dialog-header.ok::after { content: ''; display: block; width: 2.6rem; height: 1rem; border: 2px solid #fff; border-width: 0 0 2px 2px; -webkit-transform: rotate(-50deg); transform: rotate(-50deg); }

.g-dialog-contianer .dialog-window .dialog-header.warning { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.g-dialog-contianer .dialog-window .dialog-header.warning::before { content: ''; display: block; width: 2.4rem; height: .3rem; background: #fff; }

.g-dialog-contianer .dialog-window .dialog-header.warning::after { content: ''; display: block; width: .3rem; height: .3rem; background-color: #fff; margin-left: 0.133333rem; }

.g-dialog-contianer .dialog-window .dialog-header.loading::before { content: ''; display: block; width: 10px; height: 10px; border-radius: 50%; background: yellow; -webkit-animation: waiting-1 .8s infinite; animation: waiting-1 .8s infinite; }

.g-dialog-contianer .dialog-window .dialog-header.loading::after { width: 10px; height: 10px; content: ''; display: block; background: red; border-radius: 50%; -webkit-animation: waiting-2 .8s infinite; animation: waiting-2 .8s infinite; }

.g-dialog-contianer .dialog-window .dialog-content { padding: 1em 1em 0; color: #fff; text-align: center; line-height: 180%; }

.g-dialog-contianer .dialog-window .dialog-footer { padding: 1em 1em 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; align-item: center; }

.g-dialog-contianer .dialog-window .dialog-footer button { -webkit-apperarance: normal; background-color: rgba(255, 255, 255, 0.8); padding: 0.8em 1.8em; border: none; color: #eee; border-radius: 5px; margin: 0 0.3em; text-shadow: 1px 1px 0 #666; font-size: 1.4rem; }

.g-dialog-contianer .dialog-window .dialog-footer button.green { background-color: rgba(2, 202, 200, 0.8); }

.g-dialog-contianer .dialog-window .dialog-footer button.red { background-color: rgba(251, 23, 50, 0.8); }

@-webkit-keyframes waiting-1 { 0% { -webkit-transform: translate(-5px, 0); transform: translate(-5px, 0); }
  50% { -webkit-transform: translate(10px, 0); transform: translate(10px, 0); }
  100% { -webkit-transform: translate(-5px, 0); transform: translate(-5px, 0); } }

@keyframes waiting-1 { 0% { -webkit-transform: translate(-5px, 0); transform: translate(-5px, 0); }
  50% { -webkit-transform: translate(10px, 0); transform: translate(10px, 0); }
  100% { -webkit-transform: translate(-5px, 0); transform: translate(-5px, 0); } }

@-webkit-keyframes waiting-2 { 0% { -webkit-transform: translate(5px, 0); transform: translate(5px, 0); }
  50% { -webkit-transform: translate(-10px, 0); transform: translate(-10px, 0); }
  100% { -webkit-transform: translate(5px, 0); transform: translate(5px, 0); } }

@keyframes waiting-2 { 0% { -webkit-transform: translate(5px, 0); transform: translate(5px, 0); }
  50% { -webkit-transform: translate(-10px, 0); transform: translate(-10px, 0); }
  100% { -webkit-transform: translate(5px, 0); transform: translate(5px, 0); } }
